body {
    margin: 0;
    padding: 0;
    background-color: #4F1F1C;
}

header {
    position: fixed;
    width: 100%;
    top: 0px;
    right: 0px;
    z-index: 2;
}

#nav {
    background-color: #FFB833;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0px;
    height: 110px;
    overflow: hidden;
    border:#A83A32;
}

#buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(40%);
    font-family: Katibeh;
    font-size: 54px;
    align-items: flex-end;
}



#logo {
    width: calc(40%);
    max-width: (30%);
    font-family: Katibeh;
    font-size: 60px;
}


.on-page {
    color: #A83A32;
}

.nav-item {
    margin-left: 15px;
    margin-right: 15px;
}

.nav-item a {
    color: #4F1F1C;
    text-decoration: none;
}

.nav-item a:hover {
    cursor: pointer;
    color: #D13F34;
    transition-duration: 200ms;
}

#logo {
    color: #4F1F1C;
    text-align: center;
}


#image-banner {
    background-image: url('../img/meskie-img-banner.jpeg');
    background-size: cover;
    width: 100%;
    height: 700px;
    text-align: center;
    vertical-align: middle;
    line-height: 700px;
    overflow: hidden;
    margin-top: 110px
}

#image-banner:before {
    background-color: rgba(79, 31, 28, .6);
    width: 100%;
    height: 700px;
}

#img-title {
    font-family: Katibeh;
    font-size: 90px;
    color:  #FFB833;
    background-color: rgba(79, 31, 28, .6);
    width: 100%;
    height: 700px;
}


#order-now {
    background-color: #A83A32;
    text-align: center;
    font-family: Katibeh;
    font-size: 74px;
    margin: auto;
    padding-top: 5px;
    height: 60px;
}

#order-now:hover {
    color: #FFB833;
    transition-duration: 200ms;
}


#info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
}

h2 {
    font-family: Katibeh;
    font-size: 54px;
    text-align: center;
    color: white;
}

h3 {
    font-family: Gayathri;
    font-size: 36px;
    text-align: center;
    color: white;
}

#call-hours {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
}


/***
***/
#business-hours {
    background-color: #A83A32;
    text-align: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0px;
}

#open {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Gayathri;
    font-size: 28px;
    overflow: scroll;
    white-space: nowrap;
}

#find {
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
}

#menu-content {
    margin-top: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%
}

.food-category {
    width: 80%;
    max-width: 80%;
}

.category-title {
    background-color: #A83A32;
    color: white;
    height: 42px;
    border-radius: 30px;
    white-space: nowrap;
    margin-bottom: 20px;
}

.category-title h2 {
    overflow: hidden;
}

.menu-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}
.menu-item {
    background-color: #FFD38B;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 40%;
    min-width: 400px;
    height: 200px;
    border-radius: 30px;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
}

.menu-item:hover {
    background-color: #FFB833;
    transition-duration: 200ms;
}

.menu-item-price {
    position: absolute;
    bottom: 10px;
    right: 30px;
    color:  #A83A32;
    font-family: Gayathri;
    font-size: 24px;
}

.menu-item-name {
    position: absolute;
    top: 15px;
    left: 30px;
    font-family: Katibeh;
    color: #A83A32;
    font-size: 42px;
}

.menu-item-description {
    position: absolute;
    top: 60px;
    left: 30px;
    margin-right: 20px;
    font-family: Gayathri;
    color: #4F1F1C;
    font-size: 24px;;
}

#menu-item-blank {
    background-color: #4F1F1C;
}


#contact-call-hours {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-items: center;
    margin:auto;
    margin-top: 110px;
    color: white; 
}

#contact-business-hours {
    background-color: #A83A32;
    text-align: center;
    width: 80%;
    min-width: 400px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0px;
}

#business-hours {
    background-color: #A83A32;
    text-align: center;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 0px;
}

#contact-open {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: Gayathri;
    font-size: 28px;
    overflow: scroll;
    white-space: nowrap;
}

#contact-find {
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 40%;
    align-items: center;
    white-space: nowrap;
}

a {
    text-decoration: none;
    color: inherit;
}

#map {
    height: 500px;
    border-radius: 30px;
}

#contact-map img {
    width: 100%;
    margin: auto;
}